<div id="tweets">
    {{#each tweets}}
    
    <div class="media" id="tweet-{{_id}}">

      {{#if isTweetOfCurrentUser}}
      <span data-idtweet="{{_id}}" class="glyphicon glyphicon-remove remove-icon" aria-hidden="true"></span>
      {{/if}}

      <div class="media-left">
        <a href="/user/{{owner._id}}">
          <img class="media-object" src="{{ owner.photo }}" />
        </a>
      </div>
      <div class="media-body dropdown">
        <a href="/user/{{owner._id}}"><h5 class="media-heading">{{ owner.name }} </h5> </a>
        <p class="tweet-time anhdt-time" data-dateString="{{created}}"> {{dateFormated}} </p>
        <p> {{content}} </p>

      {{#if noLiked}}
        <div class="number-of-like-on-tweet hidden"> 
          <span class="glyphicon trangthailike"></span> 
          <span class="number">  {{usersLike.length}} </span> 
        </div>
      {{else}}
        <div class="number-of-like-on-tweet"> 
          <span class="glyphicon trangthailike"></span> 
          <span class="number">  {{usersLike.length}} </span> 
        </div>
      {{/if}}


        <div class="likes-and-retweet-wrapper">
        
          {{#if liked}}
            <span data-idtweet="{{_id}}" class="glyphicon glyphicon-heart liked _{{_id}}">  </span>
          {{else}}
            <span data-idtweet="{{_id}}" class="glyphicon glyphicon-heart-empty notlike _{{_id}}">  </span>
          {{/if}}

          <span data-idtweet="{{_id}}" class="glyphicon glyphicon-comment _{{_id}}">  </span>
        </div>

        {{> comments userAllView=../userAllView}}  


      </div>
    </div>
    {{/each}}


    {{#if showjointweeter}}
    <div class="media">
      <div class="media-left">
        <a href="/user/{{userAllView._id}}">
          <img class="media-object" src="{{ userAllView.photo }}" />
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ userAllView.name }} </h4>
        <p> {{ userAllView.name }} Joined Twitter! </p>
      </div>
    </div>
    {{else}}
      
    {{/if}}





  </div>